<%- include('./templates/header') %>
<div style="text-align: center;">
  <p><b>Account Deleted</b></p>
</div>
<div>
  <p style="margin-top: 35px;">
    This email confirms that your Airdoc.Pro subsciption has
    been deleted.
  </p>
  <p style="margin-top: 10px;">
    We are sorry to see you go, if there is annything you would
    like us to know or if you reconsider joining please contact
    Airdoc Pro's managing director Paul Duddy at
    paul@hypervine.io
  </p>
</div>
<div>
  <p>Thanks,</p>
  <p style="margin-top: 10px;">The Airdoc.Pro Team</p>
  <%- include('./templates/footer') %>