<%- include('./templates/header') %>
<div style="text-align: center;">
  <p><b>We got your message</b></p>
</div>
<p style="padding-top: 30px;padding-bottom: 20px;font-size: 20px;">
  This email confirms that we received your message.
</p>
<p>
  Thank you for getting in touch, we will review your email
  ASAP and get back to you if needed.
</p>
<div>
  <p>Thanks,</p>
  <p style="margin-top: 10px;">The Airdoc.Pro Team</p>
  <%- include('./templates/footer') %>