<%- include('./templates/header') %>
<p>
  Please follow this link to reset your password.
</p>
<div style="text-align: center; padding-top: 30px;">
  <a href="<%= url %>" type="button" style="
                            padding: 10px 35px;
                           text-decoration: none;
                           background-color: #054ebb;
                           border-radius: 3px;
                           font-size: 14px;
                           border-color: #054ebb;color:white;">
    Reset Password
  </a>
  <%- include('./templates/footer') %>