<%- include('./templates/header') %>
<div style="text-align: center;">
  <p><b>Invoice</b></p>
</div>
<p style="padding-top: 30px;padding-bottom: 20px;">Thank you for your order.
  We hope you find insightful discoveries from your data.
</p>
<p>
  You can view your invoice by clicking the button below.
</p>

<div style="text-align: center; padding-top: 30px;">
  <a href="#" type="button" style="
                            padding: 10px 20px;
                            margin: auto;
                            max-width: 125px;
                            display: block;
                            text-decoration: none;
                            background-color: #054ebb;
                            border-radius: 3px;
                            font-size: 14px;
                            border-color: #054ebb;
                            color:white;">
    View Invoice
  </a>
  <%- include('./templates/footer') %>