<%- include('./templates/header') %>
<p style="text-align: center;"><b>Subscription Update</b></p>
<p style="padding-top: 30px;padding-bottom: 20px;font-size: 20px;">Hi <var>NAME<var>,
</p>
<p>
  This email confirms that your Airdoc.Pro subsciption has
  been updated.
</p>
<div style="padding-top: 30px;">
  <p>Thanks,</p>
  <p style="margin-top: 10px;">The Airdoc.Pro Team</p>
  <%- include('./templates/footer') %>