<%- include('./templates/header') %>
<p style="text-align: center;"><b>Activate your Account</b></p>
<p style="padding-top: 30px;padding-bottom: 20px;">Thank you for signing up to Airdoc.Pro, glad to have you here!
</p>
<p>
  To proceed with your account creation please press the button below.
</p>
<div style="text-align: center; padding-top: 30px;">
  <a href="<%= url %>" type="button" style="
                            padding: 10px 35px;
                           text-decoration: none;
                           background-color: #054ebb;
                           border-radius: 3px;
                           font-size: 14px;
                           border-color: #054ebb;color:white;">
    Activate my account
  </a>
  <%- include('./templates/footer') %>