<%- include('./templates/header') %>
<p><b>Dear USERNAME</b></p>
<p style="padding-top: 20px;padding-bottom: 20px;font-size: 20px;">
  Thank you for choosing Airdoc.Pro!
</p>
<p>
  We hope you can process insane levels fo documentation
  effortlessly with Airdoc.Pro.
</p>
<div>
  <p>Please login via this link: <a href="#">LINK</a></p>
  <p style="margin-top: 10px;">
    <b>Construction is hard</b>, Airdoc.Pro is easy (hopefully), we
    understand how challenging it can be to onboarding new
    software tools and getting people into the routine of using
    it daily so if you do have any problems please feel free to
    ccontact Paul Duddy here: paul@hypervine.io
  </p>
  <p>
    Or setup a meeting here:<br>
    <a href="<%= meetingLink %>"><%= meetingLink %></a>
  </p>
  <p>
    Keep an eye out for emails on Free training webinars on
    Airdoc.Pro and other software to help you build and
    automate workflows in your company.
  </p>
  <p>
    We want you to Win! So we are helping construction firms
    understand the software ecosystem to help you make
    better informed decisions.
  </p>
  <p>
    <b>Refer a friend</b> to Airdoc.Pro and get <span style="color:rgb(35, 112, 112); font-weight:600;">15%
      discount</span> on
    your next months subscription, click here.
  </p>
  <p>
    Thanks,
  </p>
  <p>
    The Airdoc.Pro Team
  </p>
  <%- include('./templates/footer') %>