                <p style="border-bottom-style: inset;
                border-bottom-color: #e0e0e0;
                border-bottom-width: 4px;
                width: 100%;">
                </p>
                <div style="text-align: left;">
                    <p>
                        Airdoc.Pro is trading name of Hypervine Ltd.<br>
                        Hypervine Ltd registered in Soctland as a private limited company;<br>
                        Registered No: SC596608<br>
                        Registered Office: C/O Lindsays 100 Queen Street, Glasgow, G1 3DN<br>
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>